body{
    background-color:palegreen;
    text-align: center;
}
#txt{
    font-family: Arial, Helvetica, sans-serif;
    font-size:16px;
}
#str{
    margin:20px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:16px;
}
#result{
    font-family: Arial, Helvetica, sans-serif;
    font-size:17px;
}

button{
    background-color:pink;
    letter-spacing: 1px;
    border-radius: 0.3vw;
    border:none;
    box-shadow: 0px 6px 8px 2px rgba(50,50,50,0.2);
    font-size:14px;
    padding:4px 6px;
    font-family:'Times New Roman', Times, serif;
}

